@import "baseline.css";
@import "variables.css";
@import "normalize.css";
/* @import "font.css"; */
@import "@fontsource/hahmlet/variable.css";
@import "@fontsource/inter/variable.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
  /* font */
  --sans: "InterVariable", Helvetica, Arial, sans-serif;
  /* --sans: "National 2 Web", Helvetica, Arial, sans-serif; */
  --serif: "HahmletVariable", Georgia, Times, serif;
  /* --serif: "Tiempos Text Web", Georgia, Times, serif; */
  --mono: Menlo, Consolas, Monaco, "Courier New", monospace;

  /* z-index */
  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;

  /* presets */
  --border-radius: 4px;
  --font-body: var(--serif);
  --font-form: var(--sans);
  /* --color-bg: var(--color-white); */
  /* --color-fg: var(--color-gray-900); */
  --color-placeholder: var(--color-gray-500);
  --color-link: var(--color-purple);
  --color-focus: var(--color-red);
  --color-form-bg: var(--color-gray-300);
  --color-form-fg: var(--color-gray-900);
  --color-border: var(--color-gray-300);
  --color-selection: var(--color-gray-300);
  --color-highlight: var(--color-yellow);

  --color-bg: hsl(60, 100%, 100%);
  --color-fg: var(--color-gray-800);

  --color-green: hsl(180, 50%, 82%);
  --color-yellow: hsl(51, 90%, 71%);
  --color-purple: hsl(262, 48%, 85%);
  --color-orange: hsl(14, 100%, 84%);
  --color-pink: hsl(359, 100%, 89%);

  /* shadows */
  --chart-shadow-color: 0deg 0% 0%;
  /* --shadow-elevation-low: 0px 0.2px 0.3px hsl(var(--shadow-color) / 0),
    0px 0.4px 0.6px hsl(var(--shadow-color) / 0.1), 0px 0.8px 1.2px hsl(var(--shadow-color) / 0.21); */
  --chart-shadow: 0px 0.2px 0.3px hsl(var(--chart-shadow-color) / 0),
    0px 1px 1.5px hsl(var(--chart-shadow-color) / 0.08),
    0px 2px 3px hsl(var(--chart-shadow-color) / 0.16),
    0.1px 4.1px 6.2px hsl(var(--chart-shadow-color) / 0.25);

  --shadow-color: 210deg 15% 6%;
  --shadow-elevation-low: 0px 0.2px 0.3px hsl(var(--shadow-color) / 0.06),
    0px 0.5px 0.7px -0.6px hsl(var(--shadow-color) / 0.11),
    0px 1.1px 1.4px -1.2px hsl(var(--shadow-color) / 0.15);
  --shadow-elevation-medium: 0px 0.2px 0.3px hsl(var(--shadow-color) / 0.07),
    0px 1.1px 1.4px -0.4px hsl(var(--shadow-color) / 0.1),
    0px 2.4px 3.1px -0.8px hsl(var(--shadow-color) / 0.14),
    0.1px 5.4px 7.1px -1.2px hsl(var(--shadow-color) / 0.17);
  --shadow-elevation-high: 0px 0.2px 0.3px hsl(var(--shadow-color) / 0.06),
    0px 2.3px 3px -0.2px hsl(var(--shadow-color) / 0.08),
    0.1px 4.3px 5.6px -0.4px hsl(var(--shadow-color) / 0.09),
    0.1px 6.6px 8.7px -0.5px hsl(var(--shadow-color) / 0.11),
    0.1px 9.8px 12.9px -0.7px hsl(var(--shadow-color) / 0.13),
    0.2px 14.3px 18.8px -0.9px hsl(var(--shadow-color) / 0.14),
    0.3px 20.8px 27.3px -1.1px hsl(var(--shadow-color) / 0.16),
    0.4px 29.6px 38.9px -1.2px hsl(var(--shadow-color) / 0.17);

  --text-shadow: #ffffff 4px 0px 0px, #ffffff 3.87565px 0.989616px 0px,
    #ffffff 3.51033px 1.9177px 0px, #ffffff 2.92676px 2.72656px 0px, #ffffff 2.16121px 3.36588px 0px,
    #ffffff 1.26129px 3.79594px 0px, #ffffff 0.282949px 3.98998px 0px,
    #ffffff -0.712984px 3.93594px 0px, #ffffff -1.66459px 3.63719px 0px,
    #ffffff -2.51269px 3.11229px 0px, #ffffff -3.20457px 2.39389px 0px,
    #ffffff -3.69721px 1.52664px 0px, #ffffff -3.95997px 0.56448px 0px,
    #ffffff -3.97652px -0.432781px 0px, #ffffff -3.74583px -1.40313px 0px,
    #ffffff -3.28224px -2.28625px 0px, #ffffff -2.61457px -3.02721px 0px,
    #ffffff -1.78435px -3.57996px 0px, #ffffff -0.843183px -3.91012px 0px,
    #ffffff 0.150409px -3.99717px 0px, #ffffff 1.13465px -3.8357px 0px,
    #ffffff 2.04834px -3.43574px 0px, #ffffff 2.83468px -2.82216px 0px,
    #ffffff 3.44477px -2.03312px 0px, #ffffff 3.84068px -1.11766px 0px,
    #ffffff 3.9978px -0.132717px 0px;
}

::selection {
  background-color: var(--color-gray-200);
}

b {
  font-weight: 650;
}

body {
  background-color: var(--color-bg);
  color: var(--color-gray-800);
  overflow-y: scroll;
}

a {
  color: var(--color-fg);
  text-decoration-thickness: 2.5px;
}

p {
  font-family: var(--sans);
  font-size: 1.1rem;
  line-height: 1.9;
}

h1 {
  font-family: var(--sans);
  /* font-weight: 650; */
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  text-align: left;

  margin: 0;
}

h2 {
  font-family: var(--sans);
  font-weight: 700;
  font-size: 2rem;

  margin: 0;
}

h3 {
  font-family: var(--sans);
  font-weight: 700;
  font-size: 1.5rem;

  margin: 0;
}

h4 {
  font-family: var(--sans);
  font-weight: 250;
  font-size: 2rem;
  letter-spacing: 1px;

  margin: 0;
}

div {
  font-family: var(--sans);
}

label,
input {
  font-family: var(--sans);
}

/* h1 {
	font-size: var(--48px);
}

h2 {
	font-size: var(--36px);
}

h3 {
	font-size: var(--28px);
}

h4 {
	font-size: var(--24px);
}

h5 {
	font-size: var(--22px);
}

h6 {
	font-size: var(--20px);
} */
